body{
	background-color:#ECF0F1;
}
#left_sidebar{   
	height: 90%;
	background-color:#ECF0F1;
	float: left;
	width: 30%;
	padding-left: 2em;
}
#main_view{
	height: 90%;
	background-color:#ECF0F1;
	width: 70%;
	float: right;
}
#top_bar{
	float: left;
	width: 100%;
	height: 10%;
	background-color:#F15A24;
	
	padding: 0.5em 0em;
}
#top_logo{
    float: left;
	
    margin: 0em 1em;
}
#top_logon{
	
}
#top_thumb{
    background-color: white;
	
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: right;
    margin: 0em 0.1em;
}
#top_id_name{
    width: inherit;
	
    height: 40px;
    margin: 0em 0.5em;
    float: right;
    color: white;
    line-height: 40px;
}
#logout_btn{
    float: right;
	
    margin: 0em 1em;
    color: white;
    line-height: 40px;
}
#write_rec_bar{
    border-radius: 10px;

    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;
}
#write_bar{
    background-color: white;
	
    border-radius: 10px;
    margin: 0 auto;
    width: 95%;
    padding: 0.5em;
    margin-top: 1em;
    height: 100%;
}
.write-rec-bar i{
    margin: 0px 1em;
}
#more{
    float: right;
	
}
#post_txt_box{
    margin-top: 1em;
    border-radius: 5px;
    border-color: #ECF0F1;
    width: 100%;
    margin-bottom: 0.5em;
}
#tasteSel{
    background-color: #F15A24;
    border: 0px;
    color: white;
    width: 20%;
    height: 30px;
    font-size: smaller;
    margin-right: 0.3em;
}
#f_typeSel{
	background-color: #F15A24;
    border: 0px;
    color: white;
    margin-right: 0.3em;
	width: 20%;
    height: 30px;
    font-size: smaller;
}
#timeSel{
	background-color: #F15A24;
    border: 0px;
    color: white;
    margin-right: 0.3em;
	width: 20%;
	height: 30px;
    font-size: smaller;
}
#locationSel{
	background-color: #F15A24;
    border: 0px;
    color: white;
	width: 20%;
    height: 30px;
    font-size: smaller;}
#post_img{
    float: left;
    color: #F15A24;
    width: 60%;
}
#post_btn{
    float: right;
	
}
#profile_left{
    padding: 0.3em;
}

#profile_edit{
    padding: 0.3em;
}
.profile-edit i{
    padding-left: 1em;
    padding-right: 1em;
}
#recent_post{
    padding: 0.3em;
}
.recent-post i{

    padding-left: 1em;
    padding-right: 1em;
}
#popular_post{
	   padding: 0.3em;
}
.popular-post i{
    padding-left: 1em;
    padding-right: 1em;}
#recommand_post{
	   padding: 0.3em;
}
.recommand-post i{
    padding-left: 1em;
    padding-right: 1em;}
#search_post{
	   padding: 0.3em;
}
.search-post i{
    padding-left: 1em;
    padding-right: 1em;}
#favorite_post{
	   padding: 0.3em;
}
.favorite-post i{
    padding-left: 1em;
    padding-right: 1em;
    }
#my_history{
	   padding: 0.3em;
}
.my-history i{
    padding-left: 1em;
}

.posts {
	position : relative;
	left : 2.5%;
}
  
#search_wrapper{
    width: 95%;
	
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#search_wrapper input{
	
}

#taste_wrapper label{
	float:left;
	margin-right: 1em;
}
#taste_wrapper label span .icon-checked{
    /* color: #F15A24; */
}
#type_wrapper label{
	float:left;
	margin-right: 1em;
}
#time_wrapper label{
	float:left;
	margin-right: 1em;
}
#title{
    font-size: -webkit-xxx-large;
    color: blue;
    font-style: italic;
    position: relative;
}

.header{
    margin: 10% 2em 0;
}

#bi{}

#desc{
    font-size: 16px;
}

.profile{
    margin-top: 20px;
}

.logon{
    text-align: center;
}

.logon .thumb{
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 100px;
    position: relative;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.logon .info{
    margin-top: 10px;
    font-size: 21px;
}

.logoff{
    text-align: center;
}

.logoff button{}

.logoff button.login{}

.logoff button.signin{}

.write-post{
    margin-bottom: 45px;
}

.write-post h1{}

#write_post_btn{
    width: 100px;
    float: right;
    margin-top: 10px;
}

#write{
    width: 100%;
    height: 100px;
}

.post-img{
    
    float: left;
    width: 10%;
}
.post-img img{
    
    width: 100%;
    border-radius: 100%;
	background-color: orange;
    height: 0;
    padding-bottom: 100%;
}
.post-writer{
    float: left;
    font-size: x-large;
}
.post-author{
    color: rgb(61, 79, 93);
	
}
.bac-point{
}
.post-top{
}
#profile_cog{}
.profile-cog{
    float: right;
    background-color: transparent;
    color: white;
}
#log_out{
    padding: 3px;
    color: cadetblue;
    background-color: transparent;
}
span#postingImg_view{
    margin-right: 3%;
}
.bacpost-meta p{
    margin-top: 0;
    margin-bottom: 0;
}
.post-regdate{
    float: right;
}
#profile-edit-submit{
	margin-left: 15%;
	margin-right: 23px;
}
.posting-buttons{
	float: left;;
	/* background-color: transparent; */
	/* color: black; */
}
/* .post-edit{
    background: transparent;
    border: 0;
    margin-right: 10px;
}
.post-delete{
    background: transparent;
    border: 0;
    margin-right: 10px;
} */
.favorite-btn{
	
}

#post_edit{
    width: 80%;

    height: auto;
}

#post_edit_area{
    width: 100%;

    height: 130px;
}
#post-edit-submit{
    /* margin-left: 80%; */
    float: right;
}

section{
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.7em;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    width: 95%;
}

/*Comment Declare*/

.comment-cnt{
    margin-top: 0.5em;
}
.comment-cnt .form{
    display: inline-block;
    width: 100%;
}

.comment-cnt .form .raty{
    float: left;
    width: 25%;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.comment-cnt .form .raty img{
	width: 14%;
	position: relative;
	top: 1px;
}


.comment-cnt .form .comment{
    float: left;
    width: 60%;
    margin-right: 5px;
}

.comment-cnt .form .add-comment-btn{
    float: right;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0;
    width: 10%;
}

.comment-cnt .comment-list{
    padding: 0px;
    margin: 0px;
}

.comment-cnt .comment-list li{
    width: 100%;
    position: relative;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    margin-top: 1.5%;
}

.comment-cnt .comment-list li span{}

.comment-cnt .comment-list li span.raty-view{
	float: left;
    width: 25%;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.comment-cnt .comment-list li span.raty-view img{
	width: 14%;
	position: relative;
	top: 2px;
}

.comment-cnt .comment-list li span.comment{
    
	width: 50%;
    margin-right: 5px;
	height: 25px;
	line-height: 25px;
}

.comment-cnt .comment-list li span.user{
    color: rgb(61, 146, 201);
	
    height: 25px;
    line-height: 25px;
    display: inline-block;
}

.comment-cnt .comment-list li span.regdate{

    height: 25px;
    line-height: 25px;
    
	font-size: 12px;
    padding: 0;
    
	width: 90px;
	
    

    margin-left: 1em;

}

.tab-layer{
    height: 60px;
	
    margin-bottom: 20px;
}
.tab-layer .tab-btn li{
    list-style: none;
	
    float: left;
    width: 50%;
}
.tab-layer button{
    background-color: transparent;
    border: 0;
}
.tab-layer h1{
    border: 0;
	
    font-size: 110%;
}

#write_post{
    background-color: white;	
    border: 0px;
    height: 60px;
}
/* 
#heart-o, #heart {
	background-color : white;
	border : none;
}
 */
<!-- posting -->
.post-author {
	
}

.post-description {
	display : inline-flex;
}

#postingImg_view {
	display : inline;
	
	
}

.comment-text-form {
}

input.comment {
	width : 85%;
	float: left;
	height: 1.5em;
	border-radius: 5px;
	border: 1px solid #ECF0F1;
}

.postingCI {
	width : 20px;
	height : 20px;
}

#postingContent_div {
	display : inline;
	width: 65%;
	overflow : scroll;
}

#postingClassifyImg {
	width : 30px;
	height : 30px;
	margin-right : 1%;
	
}

#postingContent_view {
	font-size: medium;
}

#postingClassification_view {
	
}

.user-raty {
	margin : 0 2% 0 5%;
}

//comment
comment-list-sub {
	background : black;
}
#commentView-user {
	font-size: medium;
	
}

#commentView-content {
	margin : 0 5% 0 3%;
	font-size: large;
	position: relative;
	top: -0.5em;
}

.comment-raty-form {
	position : relative;
	left : 23%;
}

.add-commentRaty-btn {
    border-radius: 5px;
    border: 0;
    height: 1.3em;
    width: 3em;
    background-color: #F15A24;
    color: white;
    line-height: 1.3em;
    text-align: center;
}
.more-content{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 10px;
}
#img-slider img{	
    width: 300px;
    height: 300px;
}
.thumb img{
  width: 200px;
  height: 200px;
  background-size: contain;
  border-radius: 100px;
  position: relative;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

#slideSection {
	margin-left : 3%;
	position : absolute;
	display : inline;
	width : 30%;
	height : 50%;
	border-bottom : none;
}

#slideContentModal {
	border-top : 1px solid #e1e1e1;
}

#slidePoint span.bac-point{
	color : #999;
	margin-right : 5%;
}

#more_content_body {
	padding-top : 5%;
}
.comment-delete{
    border: 0;	
    background-color: transparent;
}
#search_wrapper h3{
    font-size: medium;
	
}
.btn-wrapper{
    float: right;
	
}
.btn-wrapper button{
	color: #34495e;	
    height: 40px;
    background-color: transparent;
    border-color: transparent;
}
.top-top{
    width: 90%;
	
    float: right;
    padding-left: 2%;
}
.top-bottom{
    width: 90%;
	
    float: right;
    position: relative;
    top: -0.5em;
    color: gray;
    padding-left: 2%;
}
#mainView_favorite{
    float: right;
	
}
.add-comment-btn{
    float: right;
	
    height: 1.5em;
    border-radius: 5px;
    border: 0;
    width: 14%;
    background-color: #F15A24;
    color: white;
    line-height: 1.5em;
    text-align: center;
}