@CHARSET "EUC-KR";
*:focus { outline:none; }
@media (max-width: 2048px) and (min-width: 800px){
	#left_sidebar{   
		width: 150px;	
		padding-top: 2%;
	}
	#main_view{
		background-color:#ECF0F1;
		float: left;
		padding-top: 2%;	
		width: 650px;
	}
	#top_wrapper{
	    width: 800px;	
	    margin: 0 auto;
	}
	#bottom_wrapper{	
	    width: 800px;
	    margin: 0 auto;
	}
	#left_sidebar button {
    width: 90%;
    margin-bottom: 10%;
	}
}
@media all and (min-width: 300px) and (max-width: 800px){
	#left_sidebar{
		height: 90%;
		padding: 2% 5%;
	}
	#main_view{
		height: 90%;
		background-color:#ECF0F1;
		float: left;
		width: 100%;
	}
}
#left_sidebar{
	float: left;
    background-color: #ECF0F1;
}
body{
	background-color:#ECF0F1;
}

body button {
	background : transparent;
	border : 0;
}

#left_sidebar button i{
    padding-right: 10%;

}

#left_sidebar button:hover {
	background-color:#cfd3d4;
}
#top_bar{
	float: left;
	width: 100%;
	background-color:#F15A24;
	padding: 0.5% 3%;
}
#top_logo{
    float: left;
	
}

#top_logo:hover{
	
}
#top_logon{
	
}
#top_thumb{
    background-color: white;
	
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: right;
    margin: 0em 0.1em;
}
#top_thumb img{
	width: 100%;
	border-radius: 100%;
	height: 100%;
}
.top_id_name{
    width: inherit;
	
    height: 40px;
    margin: 0em 0.5em;
    float: right;
    color: white;
    line-height: 40px;
}

#top_id {
	font-size : 1.5em;
	color : firebrick;
}

#top_name {
	font-size : 1.5em;
}

#logout_btn{
    float: right;
    margin: 0em 1em;
    color: white;
    line-height: 40px;
    position : relative;
    top : 10;
}
#write_rec_bar{
    border-radius: 10px;

    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding: 0.5% 1%;
    margin-bottom: 2%;
}
#write_bar{
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 95%;
    padding: 2% 3%;
    margin-bottom : 3%;
}
.write-rec-bar i{
    margin: 0px 1em;
}
#more{
    float: right;
	
}
#post_txt_box{
    margin-top: 1em;
    border-radius: 5px;
    border-color: #ECF0F1;
    width: 100%;
    margin-bottom: 0.5em;
}
select{
    background-color: #F15A24;
    border: 0px;
    color: white;
    width: 20%;
    height: 30px;
    font-size: smaller;
    margin-right: 0.3em;
}
#post_img{
    float: left;
    color: #F15A24;
    width: 60%;
}
#post_btn:hover{
    background-color: #DC5322;
}
#post_btn{
    float: right;	
    border-radius: 5px;
    border: 0;
    width: 14%;
    background-color: #F15A24;
    color: white;
    text-align: center;
    padding: 0.2%;
    height: 23px;
}
#profileEdit{
}
.profile-edit i{
}
#recent_post{
}
.recent-post i{
}
#popular_post{
}
.popular-post i{}
#recommand_post{
}
.recommand-post i{}
#search_post{
}
.search-post i{
}
#favorite_post{
}
.favorite-post i{
    }
#my_history{
}
.my-history i{
}

.posts {
}
  
#search_wrapper{
    width: 95%;
	
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#ending_wrapper {
	width: 95%;
	
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#search_posts {
	width: 95%;
	
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#search_wrapper input{
	
}

#taste_wrapper label{
	float:left;
	margin-right: 1em;
}
#taste_wrapper label span .icon-checked{
    /* color: #F15A24; */
}
#type_wrapper label{
	float:left;
	margin-right: 1em;
}
#time_wrapper label{
	float:left;
	margin-right: 1em;
}
#location_wrapper label{
	float:left;
	margin-right: 0.5em;
}
#location_wrapper label span {
	padding-right: 0.1em;
}
#title{
    font-size: -webkit-xxx-large;
    color: blue;
    font-style: italic;
    position: relative;
}

.header{
    margin: 10% 2em 0;
}

#bi{}

#desc{
    font-size: 16px;
}

.profile{
    margin-top: 20px;
}

.logon{
    text-align: center;
}

.logon .thumb{
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 100px;
    position: relative;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.logon .info{
    margin-top: 10px;
    font-size: 21px;
}

.logoff{
    text-align: center;
}

.logoff button{}

.logoff button.login{}

.logoff button.signin{}

.write-post{
    margin-bottom: 45px;
}

.write-post h1{}

#write_post_btn{
    width: 100px;
    float: right;
    margin-top: 10px;
}

#write{
    width: 100%;
    height: 100px;
}

.post-img{
    
    float: left;
    width: 10%;
}
.post-img img{
    
    width: 100%;
    border-radius: 100%;
	
    /* background-color: orange; */
}
.post-writer{
    float: left;
    font-size: x-large;
    width: 100%;
}
.post-author{
    color: rgb(61, 79, 93);
	
}
.bac-point{
}
.post-top{
}
#profile_cog{}
.profile-cog{
    float: right;
    background-color: transparent;
    color: white;
}
#log_out{
    padding: 3px;
    color: cadetblue;
    background-color: transparent;
}
.bacpost-meta p{
    margin-top: 0;
    margin-bottom: 0;
}
.post-regdate{
    float: right;
}
.posting-buttons{
	float: right;;
}
.favorite-btn{
	
}

#post_edit{
    width: 80%;

    height: auto;
}

#post_edit_area{
    width: 100%;

    height: 130px;
    border-radius: 9px;
    border: solid 1px #cfd3d4;
    margin-top: 1%;
}
#post-edit-submit{
    /* margin-left: 80%; */
    float: right;
}

.section_wrapper{
	margin: 0 auto;
    margin-bottom: 2%;
    width: 95%;
}

section{
    padding: 2%;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

/*Comment Declare*/

.comment-cnt{
    margin-top: 0.5em;
}
.comment-cnt .form{
    display: inline-block;
    width: 100%;
}

.comment-cnt .form .raty{
    float: left;
    width: 25%;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.comment-cnt .form .raty img{
	width: 14%;
	position: relative;
	top: 1px;
}


.comment-cnt .form .comment{
    float: left;
    width: 60%;
    margin-right: 5px;
}

.comment-cnt .form .add-comment-btn, #search_btn{
    float: right;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0;
    width: 10%;
}

.comment-cnt .comment-list{
    padding: 0px;
    margin: 0px;
}

.comment-cnt .comment-list li{
    width: 100%;
    position: relative;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    margin-top: 1.5%;
}

.comment-cnt .comment-list li span{}

.comment-cnt .comment-list li span.raty-view{
	float: left;
    width: 25%;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.comment-cnt .comment-list li span.raty-view img{
	width: 14%;
	position: relative;
	top: 2px;
}

.comment-cnt .comment-list li span.comment{
    
	width: 50%;
    margin-right: 5px;
	height: 25px;
	line-height: 25px;
}

.comment-cnt .comment-list li span.user{
    color: rgb(61, 146, 201);
	
    height: 25px;
    line-height: 25px;
    display: inline-block;
}

.comment-cnt .comment-list li span.regdate{

    height: 25px;
    line-height: 25px;
    
	font-size: 12px;
    padding: 0;
    
	width: 90px;
	
    

    margin-left: 1em;

}

.tab-layer{
    height: 60px;
	
    margin-bottom: 20px;
}
.tab-layer .tab-btn li{
    list-style: none;
	
    float: left;
    width: 50%;
}
.tab-layer button{
}
.tab-layer h1{
    border: 0;
	
    font-size: 110%;
}

#write_post{
    background-color: white;	
    border: 0px;
    height: 60px;
}
/* 
#heart-o, #heart {
	background-color : white;
	border : none;
}
 */
<!-- posting -->
.post-author {
	
}

.post-description {
	display : inline-flex;
	width: 100%;
}

#postingImg_view {
	width: 200px;
	height: 200px;
	display : inline;	
	margin-right: 3%;
}
#postingImg_view img{
    width: 200px;
	
    height: 200px;
}

.comment-text-form {
}

input.comment {
	width : 85%;
	float: left;
	height: 1.5em;
	border-radius: 5px;
	border: 1px solid #ECF0F1;
}

.postingCI {
	width : 20px;
	height : 20px;
	margin-right : 1%;
}

#postingContent_div {
	display : inline;
	overflow : scroll;
	width: 60%;
}

#postingClassifyImg {
	width : 30px;
	height : 30px;
	margin-right : 1%;
	
}

#postingContent_view {
	font-size: medium;
}

#postingClassification_view {
	
}

.user-raty {
	margin : 0 2% 0 5%;
}

//comment
comment-list-sub {
	background : black;
}
#commentView-user {
	font-size: medium;
	
}

#commentView-content {
	margin : 0 5% 0 3%;
	font-size: large;
	position: relative;
	top: -0.5em;
}

.comment-raty-form {
	position : relative;
	left: 10%;
}
.comment-raty-form img{
    height: 1em;
	
}
.add-commentRaty-btn {
    border-radius: 5px;
    border: 0;
    font-size: small;
    background-color: #cfd3d4;
    color: white;
    line-height: 1.3em;
    text-align: center;
    margin-left: 2%;
    padding: 0.5% 1%;
}
.add-commentRaty-btn:hover {
    background-color: #F15A24;
}
.more-content{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 10px;
}
#img-slider img{	
    width: 300px;
    height: 300px;
}
.thumb img{
  width: 200px;
  height: 200px;
  background-size: contain;
  border-radius: 100px;
  position: relative;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

#slideSection {
	margin-left : 3%;
	position : absolute;
	display : inline;
	width : 30%;
	height : 50%;
	border-bottom : none;
}

#slideContentModal {
	border-top : 1px solid #e1e1e1;
}

#slidePoint span.bac-point{
	color : #999;
	margin-right : 5%;
}

#more_content_body {
	padding-top : 5%;
}
.comment-delete{
    border: 0;	
    background-color: transparent;
}
#search_wrapper h3{
    font-size: medium;
	
}
.btn-wrapper{
    float: right;
}
.btn-wrapper button{
    width: 40px;	
	color: #34495e;	
    height: 40px;
    font-size: initial;
}
.btn-wrapper button:hover{
    width: 40px;	
	color: #F15A24;	
    height: 40px;

    font-size: initial;
}
.top-top{
    width: 90%;
	
    float: right;
    padding-left: 2%;
    position: relative;
    padding-bottom: 2%;
}
.top-bottom{
    width: 97%;
	
    float: left;
    position: relative;
    top: -0.5em;
    color: gray;
    font-size: medium;
}
#mainView_favorite{
    float: left;	
}
.add-comment-btn, #search_btn{
    float: right;	
    height: 1.5em;
    border-radius: 5px;
    border: 0;
    width: 14%;
    background-color: #F15A24;
    color: white;
    line-height: 1.5em;
    text-align: center;
}
.add-comment-btn:hover{
    background-color: #DC5322;
}
input[type=checkbox] {  
    display: none;  
}

input[type=checkbox] + label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;
}

input[type=checkbox]+ label:before {     
    content: "";  
    display: inline-block;    
    width: 20px;  
    height: 20px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #ECF0F1;  
    border-radius: 5px; 
}
input[type=checkbox]:checked + label:before { 
    content: "\2228"; 
    font-size: 18px; 
    font-weight:800; 
    color: #fff;  
    background:#F15A24;
    text-align: center;  
    line-height: 20px;  

}
input[type=checkbox]+ label:hover:before {     
    content: "\2228";  
    font-size: 18px; 
    font-weight:800; 
    color: #fff;  
    background: #ECF0F1;
    text-align: center;  
    line-height: 20px;
}
input[type=checkbox]:checked + label:hover:before { 
    content: "\2228"; 
    font-size: 18px; 
    font-weight:800; 
    color: #fff;  
    background:#F15A24;
    text-align: center;  
    line-height: 20px;  
}
input[type=file] {  
    display: none;  
}
#post_img_fileName{
	
}
input[type=file] + label{
    display: inline-block;  
    cursor: pointer;   
    font-size: 13px;
    border-radius: 5px;
    width: 14%;
    background-color: #cfd3d4;
    padding: 0.5%;
    color: white;
    font-weight: normal;
    text-align: center;
    height: 23px;
}
input[type=file] + label:hover{
    display: inline-block;  
    cursor: pointer;   
    font-size: 13px;
    border-radius: 5px;
    width: 14%;
    background-color:#F15A24;
    padding: 0.5%;
    color: white;
    font-weight: normal;
    text-align: center;
    height: 23px;
}
#profileEdit_thumb{
    float: left;
    margin-left: 5%;
    width: 200px;
}
#profileEdit_thumb img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: orange;
    margin-bottom: 5%;
}
#profileEdit_thumb label{
    width: 80px;

    float: right;
}
#profileEdit{
    float: left;
    width: 61%;
    text-align: center;
    height: 200px;
    padding-top: 2%;
    font-weight: 500;
    color: crimson;
}

#user_edit_newpass{
	color : grey;
}

#profileEdit input{
    width: 80%;
	margin-bottom:2%;
    border-radius: 7px;
    border: solid 1px #cfd3d4;
    padding: 1%;
    padding-left: 3%;
}
#profile_edit_submit{
    color: white;
    border:0;
    BACKGROUND-COLOR: #F15A24;
}
#profile_edit_submit:hover{
    background-color: #DC5322;
	
}
#profileWithdrawal{
	
}
#profileWithdrawal input{
    float: left;	
    margin: 1%;
    border-radius: 7px;
    border: solid 1px #cfd3d4;
    padding: 0.5% 1%;
    width: 35%;
}
#profileWithdrawal input[type=button]{
    background-color: #F15A24;	
    width: 20%;
    color: white;
    border: 0;
}
#profileWithdrawal input[type=button]:hover{
    background-color: #DC5322;	
}

.user-delete {
	color : red;
	padding-left : 3.5%;
	font-weight : 500;
	margin-left : 3%;
}

#save_btn{
    background-color: #F15A24;	
    border: 0;
}
#save_btn:hover{
	background-color:#DC5322;

}
.close-btn{
	background-color:#ECF0F1;
	border:0;
}
.close-btn:hover{
	backgroun-color:cfd3d4;
	border:0;
}
#carousel-example-generic{
    width: 350px;
	
    float: left;
    height: 350px;
}

.modal-body button{
	
}
.modal-body .carousel-control{
    opacity: 0.3;	
}

.modal-body .carousel-control:hover{
    opacity: 0.4;	
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img,
.slideImg{
    width: 350px;
    height: 350px;
}
#my_history_submenu{
	display:none;
	font-size : 0.8em;
}
#my_history_submenu button{
    margin: 0;
	
    position: relative;
    top: -1.2em;
    left: 1em;
    color: gray;
}
#postingH{
	display:none;
}
#commentH{
	display:none;
}

#nothingElem {
	color : grey;
	font-size : 1.8em;
	margin : 18% 0 0 30%;
}